<div class="button-container">
    <button class="button" (click)="loadFilmsAction()">Action</button>
    <button class="button" (click)="loadFilmsAnimation()">Animation</button>
    <button class="button" (click)="loadFilmsHorreur()">Horreur</button>
</div>

<div class="films-container">
    <div *ngIf="selectedCategory === 'action'">
        <div *ngFor="let film of actions" class="film-card">
            <img [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="{{ film.title }}"
                class="film-poster">
            <div class="film-title">{{ film.title }}</div>
            <div class="film-overview">{{ film.overview }}</div>
        </div>
    </div>

    <div *ngIf="selectedCategory === 'animation'">
        <div *ngFor="let film of animation" class="film-card">
            <img [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="{{ film.title }}"
                class="film-poster">
            <div class="film-title">{{ film.title }}</div>
            <div class="film-overview">{{ film.overview }}</div>
        </div>
    </div>

    <div *ngIf="selectedCategory === 'horreur'">
        <div *ngFor="let film of horreur" class="film-card">
            <img [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="{{ film.title }}"
                class="film-poster">
            <div class="film-title">{{ film.title }}</div>
            <div class="film-overview">{{ film.overview }}</div>
        </div>
    </div>
</div>