<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Movie-LDV</a>
  </div>
  <ul class="nav-links">
    <li class="heure">{{ currentDate | date: 'dd/MM/yyyy HH:mm:ss' || 'En attente...' }}</li>
    <li><a routerLink="/list" routerLinkActive="active">Films du moment</a></li>
    <li><a routerLink="/favoris" routerLinkActive="active">Favoris</a></li>
    <li><a routerLink="/avenir" routerLinkActive="active">A venir</a></li>
    <li><a routerLink="/genre" routerLinkActive="active">Genres</a></li>
    <li><a routerLink="/annee" routerLinkActive="active">Annee</a></li>
  </ul>
</nav>