<div class="page">
  <h2> Page {{ page }}</h2>
  <div class="button-group">
    <button class="btn btn-primary precedente" (click)="pagePrecedente()">Précédent</button>
    <button class="btn btn-primary suivante" (click)="pageSuivante()">Suivant</button>
  </div>
  <div class="film-list" *ngIf="!showGenres">
    <div *ngFor="let film of films">
      <h2>{{ film.title }}</h2><br>
      <img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" alt="{{ film.title }}" />
      <button class="btn btn-primary"><a [routerLink]="['/details', film.id]">Plus de détails</a></button>
    </div>
  </div>
  <h2> Page {{ page }}</h2>
  <div class="button-group">
    <button class="btn btn-primary precedente" (click)="pagePrecedente()">Précédent</button>
    <button class="btn btn-primary suivante" (click)="pageSuivante()">Suivant</button>
  </div>
</div>