@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

.favori {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP';
}

img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7%;
}

button {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8f22f5;
  /* Couleur de fond au survol */
}

.mage {
  width: 20%;
}

.col-md-12 {
  width: 80%;
  margin-left: 10%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 98, 255);
  transform: scale(1.05);
}

img {
  max-width: 60%;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
